[Unit]
Description=Run script at startup

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/getOnionBridgeFromTelegram/main.py
TimeoutStartSec=0